<div style="text-align: center;">
  <h2>sistema de estudiantes</h2>
  <button type="button" class="btn btn-success" (click)="open(content)">Crear nuevo estudiante</button>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of colletion.data | paginate: config">
        <td>{{item.id}}</td>
        <td>{{item.nombre}}</td>
        <td>{{item.apellido}}</td>
        <td>
          <button type="button" class="btn btn-primary " >editar></button>
          <button type="button" class="btn btn-danger" (click)="eliminar(item)">eliminar</button></td>
      </tr>
    </tbody>
  </table>
<pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Estudiante create/update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        
        <form [formGroup]="estudianteForm">
          <div class="form-group">
            <label>Id</label>
            <input type="number" formControlName="id" class="form-control">
          </div>

          <div class="form-group">
            <label>nombre</label>
            <input type="text" formControlName="nombre" class="form-control">
          </div>

          <div class="form-group">
            <label>apellido</label>
            <input type="text" formControlName="apellido" class="form-control">
          </div>
        </form>
        
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="guardarEstudiante()">Save</button>
  </div>
</ng-template>


<pre>{{ closeResult }}</pre>